<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{{ website }}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="https://kit.fontawesome.com/12011c1667.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/main.js"></script>
    {% endblock %}
  </head>
  <body>
    <header>
      <nav class="nav-extended {{ primary }}">
        <div class="nav-wrapper {{ primary }}">
          <a href="/" class="brand-logo center">{{ website }}</a>
          {% if icons is defined %}
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% for icon, url in icons.items() %}
              {% if url != None %}
                <li><a href="{{ url }}"><i class="{{ icon }}"></i></a></li>
              {% else %}
                <li><i class="{{ icon }}"></i></li>
              {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        {% if tabs is defined %}
        <div class="nav-content {{ primary }} lighten-1">
          <ul class="mtabs mtabs-transparent">
            {% for k, v in tabs.items() %}
              {% if tab == k %}
                <li class="mtab"><a href="/{{ v }}" class="active">{{ k }}</a></li>
              {% else %}
                <li class="mtab"><a href="/{{ v }}">{{ k }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </nav>
    </header>
    <main id="content" class="container" style="padding-bottom:25px">{% block content %}{% endblock %}</main>
    <footer class="page-footer {{ primary }}">
    {% block footer %}
      <div class="footer-copyright">
        <div class="container">
        </div>
      </div>
    {% endblock %}
    </footer>
  </body>
</html>
