<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{{ website }}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/12011c1667.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/main.js"></script>
    {% endblock %}
  </head>
  <body>
    <header>
      <nav class="nav-extended blue">
        <div class="nav-wrapper blue">
          <a href="/" class="brand-logo center">{{ website }}</a>
          {% if icons is defined %}
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% for icon, url in icons.items() %}
              {% if url != None %}
                <li><a href="{{ url }}"><i class="{{ icon }}"></i></a></li>
              {% else %}
                <li><i class="{{ icon }}"></i></li>
              {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        {% if tabs is defined %}
        <div class="nav-content blue">
          <ul class="mtabs mtabs-transparent">
            {% for k, v in tabs.items() %}
              {% if tab == k %}
                <li class="mtab"><a href="/{{ v }}" class="active">{{ k }}</a></li>
              {% else %}
                <li class="mtab"><a href="/{{ v }}">{{ k }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </nav>
    </header>
    <main id="content" class="container" style="padding-bottom:25px">{% block content %}{% endblock %}</main>
    <footer class="page-footer blue">
    {% block footer %}
      <div class="footer-copyright">
        <div class="container">
        </div>
      </div>
    {% endblock %}
    </footer>
  </body>
</html>
