<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{{ website }}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/12011c1667.js"></script>
    {% endblock %}
  </head>
  <body>
    <nav class="nav-extended blue">
      <div class="nav-wrapper blue">
        <a href="/" class="brand-logo center">{{ website }}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="https://github.com/LuxAtrumStudio"><i class="fab fa-github"></i></a></li>
        </ul>
      </div>
      {% if tabs is defined %}
      <div class="nav-content blue">
        <ul class="tabs tabs-transparent">
          {% for itab in tabs %}
            {% if itab != 'p:index' %}
              {% if itab[0] == 'p' %}
                {% if itab == tab %}
                <li class="tab"><a href="/{{ itab[2:].lower() }}.html" class='active'>{{ itab[2:].title() }}</a></li>
                {% else %}
                <li class="tab"><a href="/{{ itab[2:].lower() }}.html">{{ itab[2:].title() }}</a></li>
                {% endif %}
              {% else %}
                {% if itab == tab %}
                <li class="tab"><a href="/{{ itab[2:].lower() }}/" class='active'>{{ itab[2:].title() }}</a></li>
                {% else %}
                <li class="tab"><a href="/{{ itab[2:].lower() }}/">{{ itab[2:].title() }}</a></li>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </nav>
    <div id="content" class="container">{% block content %}{% endblock %}</div>
    <div id="footer">{% block footer %}{% endblock %}</div>
  </body>
</html>
