{% extends "base.jinja2" %}
{% block title %}{{ title }} - Projects - {{ website }}{% endblock %}
{% block content %}
<h1 class="header blue-text">{{ title }}</h1>
{% if tags is defined %}
<div>
  {% for img, url in tags.items() %}
    {% if url != None %}
      <a href={{ url }}><img alt="{{ img }}" src="{{ img }}"></a>
    {% else %}
      <img alt="{{ img }}" src="{{ img }}">
    {% endif %}
  {% endfor %}
</div>
{% endif %}
<hr/>
{{ body }}
{% if downloads is defined %}
<hr/>
<div class="container">
  <h3 class="header blue-text">Downloads</h3>
  {% for key, value in downloads.items() %}
    <a class="waves-effect waves-light btn-large blue" href="{{ value }}" download><i class="fas fa-file-download right"></i>{{ key }}</a>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
